html,
body {
  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#game-wrapper {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#game-wrapper canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
}

#font-preloader {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
